@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  
  .btncontainer{
    @apply flex items-center place-content-center p-2 space-x-2 cursor-pointer bg-gray-800 rounded-md hover:bg-gray-300 transition-all min-w-[80px]  hover:text-gray-600
  }
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
